<div id="left-area" class="col-md-8" aria-role="main">
	<h2>How to find us</h2>
	<p><iframe src="https://maps.google.co.uk/maps?safe=off&amp;q=Bath&amp;ie=UTF8&amp;hq=&amp;hnear=Bath,+Bath+and+North+East+Somerset,+United+Kingdom&amp;t=h&amp;ll=51.377995,-2.359314&amp;spn=0.075003,0.145912&amp;z=12&amp;output=embed" height="350" width="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>
</div>
<div id="right-area" class="col-md-4" aria-role="complementary">
	<h2>Contacting us</h2>
	<dl class="dl-horizontal">
		<dt>Email</dt>
		<dd><a href="mailto:mattkibby@talktalk.net">Email us</a></dd>
		<dt>Address</dt>
		<dd>1 A House</dd>
		<dd>A town</dd>
		<dd>County</dd>
		<dd>Postcode</dd>
	</dl>
</div>