<!--  We have created our own component to show the carousel. This can generate it's own items from 
      the controller -->
<carousel items="carouselImages">
</carousel>

<!-- Lets make the page have 2 columns (in bootstrap the page is 12 units wide so we can split this up to allow us to have them  -->
<div id="mainContent" class="row">
	<div id="left-area" class="col-md-8" aria-role="main">
		<h2>All about me</h2>
		<p>This website is designed to show off my skills as a
			photographer and designer. I discovered photography around three
			years ago and haven’t looked back since. My design skills and thirst
			for knowledge are constantly evolving alongside my photography.
			Adobe Photoshop became a friend of mine very quickly, and has been a
			great source of inspiration, helping me to regain focus on my
			artistic flair. I am always looking to build on my skills and am
			always playing with new software, InDesign, Illustrator and now
			WordPress.</p>
		<p>
			Take a look around and see what I get up to, and by all means feel
			free to get in touch via my <a href="contact">contact page</a>.
		</p>
	</div>
	<div id="right-area" class="col-md-4" aria-role="complementary">
		<h2>About Matt Kibby</h2>
		<p>Matt Kibby is an engaging and talented photographer. His eye
			for detail and scene setting are second to none.</p>
		<p>Whatever the occasion. Which ever moment you want to remember
			for the rest of your days.</p>
		<p>Let Matt Kibby help encase that moment for time immemorial.</p>
	</div>
</div>