/* Sticky footer styles
 * This will make the footer float at the bottom of 
 * the page even if the page is less than the 
 * full screen.
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
#footer {
  position: fixed;
  width: 79%;
  bottom: 0;
  height: 30px;
  background-color: #f5f5f5;
}