/* Sticky footer styles
 * This will make the footer float at the bottom of 
 * the page even if the page is less than the 
 * full screen.
 *------------------------------------------------ */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
#footer {
  position: fixed;
  width: 98%;
  bottom: 0;
  height: 30px;
  background-color: black;
  color: white;
  vertical-allign: middle;
}

#footer .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

/* Make sure the thumbnails are scaled correctly
 *-------------------------------------------------*/
img.thumbnail {
	width: 171px;
	height: 180px;
}